- version = version_info['version']
- dev_size = version_info['dev_size']
- compressed_size = version_info['compressed_size']
!!!1.1
%html
  %head
    %meta{ "http-equiv" => "Content-type", "content" => "text/html; charset=utf-8" }
    %title UKI &mdash; Simple UI Kit for complex web apps
    %link{ :rel => 'stylesheet', :href => '/css/master.css', :type => 'text/css', :media => 'screen' }
    %script{ :src => '/src/uki.cjs', :type => 'text/javascript' }
  
  %body
    %a{ :href => "http://github.com/voloko/uki/" }
      %img{ :style => "position: absolute; top: 0; right: 0; border: 0;", :src => "http://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png", :alt => "Fork me on GitHub" }
    .content
      %h1.title
        UKI
        %span.small Simple UI Kit for complex web apps
        %span.version= "(#{version})"
      %ul.menu
        %li{:style => 'border-left: none'} <a href="/docs/">API docs</a>
        %li <a href="/examples/">Code examples</a>
        %li <a href="http://github.com/voloko/uki/">Source</a>
        %li <a href="http://groups.google.com/group/ukijs">Discussion</a>
        %li <a href="http://blog.ukijs.org/">Blog</a>
      
      .links
        %h3 Links
        %ul
          %li Play with simple <a href="http://jsbin.com/iqite/edit">twitter widget</a> code 
          %li Draft <a href="/docs/">API docs</a> for uki-core
          %li Google wave <a href="/examples/core-examples/wave/" target="_blank">layout</a> in <a href="http://github.com/voloko/ukijs.org/blob/master/examples/core-examples/wave/wave.js" target="_blank">100 lines</a> of uki code
      %p.slogan
        Uki is a <em>fast</em> and <em>simple</em> JavaScript user interface toolkit for desktop-like web applications.<br />
        It comes with a rich view-component library ranging from 
        <a href="/examples/core-examples/slider/">Slider</a> to 
        <a href="/examples/core-examples/list/">List</a> and 
        <a href="/examples/core-examples/splitPane/">SplitPane</a>.
      %p.download
        %span.title Download:
        %span.variant 
          %a{:href => "http://static.ukijs.org/pkg/#{version}/uki.js"} compressed
          = "(#{compressed_size / 1024}KB, gzip, compiled)"
        %span.variant 
          %a{:href => "http://static.ukijs.org/pkg/#{version}/uki.dev.js"} development
          = "(#{dev_size / 1024}KB, with comments)"
      .example
        %table
          %tr
            %td.left-pane
              %h2 Code uki
              %pre#code{ :class => 'brush: javascript;' }= File.read File.join(File.dirname(__FILE__), 'example.txt')
              #runner
            %td.right-pane
              #test
                .label= "#test"
                
    .screencasts
      .content#screencasts
        .title Screencasts:
        .video#screencast1{:style => 'margin-left: 200px'}
          %img.short{:src => '/i/screen1.png'}
          .label Getting started with uki 5:56
        .video#screencast2
          %img.short{:src => '/i/screen2.png'}
          .label Cutting scalable backgrounds 3:19
        .video#screencast3
          %img.short{:src => '/i/screen3.png'}
          .label Positioning with anchors 4:11
        .video#screencast4
          %img.short{:src => '/i/screen4.png'}
          .label Drag and drop with uki 4:15
    .features
      .content
        %table
          %tr
            %td.left-column{:valign => 'top'}
              .feature
                %h2 Simple
                %p Web should be simple. Adding a new library to your app should not require using a specific build process or learning a new language.
                %p It should be as <em>simple as adding a &lt;script&gt; tag</em> to your HTML. That&#x2019;s exactly the way uki works. No builders to install, no dependencies to manage, no css to include. Simple.
                %p
                  %code= "&lt;script src=&#x27;http://static.ukijs.org<wbr/>/pkg/#{version}/uki.gz.js&#x27;&gt;&lt;/script&gt;"
            
              .feature{:valign => 'top'}
                %h2 Cross browser
                %p I can imagine living in a fairy-tale world where any browser supports HTML 5 and there&#x2019;s no such thing as IE6 :) Unfortunately reality is different. I have to support all the browser spices available. Even the dinosaurs.
                %p Thats why uki works with IE6+, Opera 9+, FF 2+, Safari 3+, Chrome. And it looks exactly the same in all of them.
            
              .feature
                %h2 Specific
                %p Uki doesn&#x27;t want to be a Jack-of-all-trades. It only does layout but it does it well. You won&#x27;t find any ajax or data storage layer code here.
          
            %td.right-column{:valign => 'top'}
              .feature
                %h2 Fast
                %p One of the reasons uki appeared is that I had to create a 4000-row, complex, client side searchable table. Just rendering the table made any IE busy for half a minute.
                %p Uki uses progressive rendering and <em>can render 30k+ lists</em> and tables <em>most instantly</em>.
          
              .feature
                %h2 Small
                %p= "With all the images packed into (not supported in IE6 and IE7) gziped uki build is <em>under #{(compressed_size / 1024.0).ceil}KB</em>. And it&#x2019;s a single HTTP request."
          
              .feature
                %h2 Pluggable
                %p It&#x2019;s great when you start building your whole app with uki. But sometimes you have to add desktop-like experience to a working site. Say, adding a widget, or a table to existing design.
                %p While uki can occupy the whole browser window it feels perfectly OK in a small &lt;div&gt; in your sidebar. Just use <code>.attachTo( myDiv )</code> for any widget you want to add.
            
              .feature
                %h2 Free and open source
                %p License: <a href="/LICENSE">MIT</a>
      
        .help
          %h2 Uki needs your help
          %ul
            %li Refine component visual design
            %li Write docs
            %li Write unit tests
      .copy
        &copy; 2010 Vladimir Kolesnikov
        %a.mail{ :href => 'mailto:voloko@gmail.com?subject=Uki' } send feedback
        %a{ :href => 'http://twitter.com/voloko' } twitter
    %script{ :src => '/js/promo.js', :type => 'text/javascript' }
    %script{ :src => '/hlt/shCore.js', :type => 'text/javascript' }
    %script{ :src => '/hlt/shBrushJScript.js', :type => 'text/javascript' }
    %link{ :rel => 'stylesheet', :href => '/hlt/shCore.css', :type => 'text/css', :media => 'screen' }
    %link{ :rel => 'stylesheet', :href => '/hlt/shThemeUki.css', :type => 'text/css', :media => 'screen' }
    %script{ :type => 'text/javascript' }
      SyntaxHighlighter.config.clipboardSwf = '/app/hlt/clipboard.swf'; 
      SyntaxHighlighter.defaults.light = true;
      SyntaxHighlighter.all();
    = File.read File.join(File.dirname(__FILE__), 'ga.txt')